__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*.ttt~
*.ttt.back
logs/
models/
*.png
*.jpg
*.jpeg
remoteApiConnections.txt
.ipynb_checkpoints
*.ipynb
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
*.zip
*.tar.gz
*.rar
